body {
    padding-top:10px;
}
.all_bg {
    width:800px;
    height:600px;
    margin:0px;
}
#allcanvas {
    position:relative;
    width:800px;
    height:600px;
    margin:0px;
}
#canvas1 {
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 1;
}
#canvas2 {
    position: absolute;
    bottom:0px;
    left:0px;
    z-index: 0;
}